@media screen and (max-width: 1020px) and (min-width: 764px) {
  #inSearch{
    width:350px !important;
    position: relative;
    right:45px;
  }
  #iSearch{
    right:45px;
  }
  #navbarCollapse{
    height: 100vh !important;
  }
  #UL{
    top:12px !important;
    right:0 !important;
   }
   #DivForm{

    right:0px !important;
    
  }
  #heart{
    display: none !important;
  }
 
}
@media screen and (max-width: 415px)  {
  #heart{
    display: none !important;
  }
 #UL{
  top:0 !important;
  right:0 !important;
 }
 #add{
   top:0 !important;
 }
 #navbarCollapse{
   height: 100vh !important;
 }
 #DivForm{

  right:0px !important;
  
}
}
#inSearch{
  width:500px;

}
#UL{
  display:inline-block;
  right:3%;
  position: absolute;
  top:12px;
}
#add{
  position: relative;
  top:12px;
}
#DivForm{
  position: relative;
  right:35px;

}