.mask{
    display:none;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: black;
    opacity:.75;
    height: 100vh;
    width:100vw;
    z-index: 999;
 
}
.enable-mask{
    display:block;
  
}
.row {
    margin:0 !important;
}
    .popover .arrow{
        position:absolute;
        display:block;
        width:1rem;
        height:.5rem;
        margin:0 .1875rem
    }
 .popover .arrow::before,
 .popover .arrow::after
 {
     position:absolute;
     display:block;
     content:"";
     border-color:transparent;
     border-style:solid
    }
 .line-item-pricing-info+.price
 {

     font-size:12px;
    font-weight:bolder
}
 .line-item-price-quantity-info{

     border-top:1px solid #ccc
    }
 .line-item-total-text{
     font-size:12px
    }

 .line-item-header {   
     display:flex;
     flex-direction:row;
     justify-content: space-between;
     width:80%;
     font-size: 20px;
    padding-bottom:10px;
    }
 .product-line-item-details{
     overflow-y:auto
    }

  .minicart .card .card-body {
    padding: 0;
}
 .minicart{
     height:100%;
     display:flex;
     align-items:center ; 
     position :relative;
     left:85px;
     top:16px;
    }
 
 .minicart h1{
     color:#0e1536;
   font-size:16px;
   font-weight:bold;
   line-height:16px;
   text-transform:uppercase
}
 
 .minicart .view-cart-link
 {color:#0e1536;
    font-size:16px;

    line-height:16px
}
 
 .minicart .remove-btn
 {
    
    color: #a6aabb;
    padding: 0;
    top: 1px;
    background-color: #fff;
    font-size: 25px;
    position: absolute;
    right: 12px;
    border: 0;

   
}

 .minicart .remove-btn:hover,
 .minicart .remove-btn:active{
     background:none;
     color:#a6aabb;
     border:0}
 
 .minicart .remove-btn:focus{
     box-shadow:none
    }
 
 .minicart .product-summary{
     margin-right:-20px;
     max-height:500px;
     overflow-y:auto;
     overflow-x:hidden;
     padding-right:20px;
     max-width:500px;
    }
 
 .minicart .card+.card .product-line-item{
     border-top:1px solid #a6aabb ; 


    }
  
 
 .minicart .card .product-line-item{
     padding-bottom:10px;
     padding-top:10px
    }
 
 .minicart .card .line-item-pricing-info{
     display:flex;
     align-items:center ; 
     margin:1px;

    }
    .minicart .card .line-item-attributes{
        margin: 1px;
    }
 
 .minicart .card .qty-card-quantity-label,
 .minicart .card .line-item-total-price-label{
     margin-right:4px
    }

 
 .minicart .minicart-footer{
     padding-top:16px
    }
    .minicart .approaching-discounts{
        padding:10px 21px;
        font-size:16px;
   
    }

 
 .minicart .free-shipping p{
     margin-bottom:0
    }
 
 .minicart .popover{
     top:100%;
     left:auto;
     right:36px;
     width:370px;
     display:none;
     padding:20px;
     border:1px solid #d8d8d8;
     background:#fff;
   max-width:370px}
 
 .minicart .popover.empty{
     max-width:270px
    }
 
 
 .minicart .popover::before
 {content:'';
    position:absolute;
    width:0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid #fff;
    z-index:1;top:-8px;
    right:15%;
}
 .minicart .popover::after{
     content:'';
     position:absolute;
     width:0;
     height:0;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid #d8d8d8;
    z-index:0;
    top:-9px;
    right:calc(15% - 1px);
}

 .minicart .popover.show{
     display:block
    }
    .minicart .popover .cart-empty{
        color:#000;
        font-size:12px;
        font-weight:500;
        line-height:16px
    }
    .minicart .estimated-total{
        color:#0e1536;
        font-size:15px;
        font-weight:bold;
        line-height:16px;
        margin-bottom:20px
    }
        .minicart .estimated-total p{
            margin:0
        }
        .minicart .checkout-btn{
            text-transform:uppercase
        }
     

    .minicart .card
    {border:0;margin-bottom:0
    }

    .minicart .card .card-body{
        padding:0
    }

    .minicart .card .item-info,
    .minicart .card .product-info-attributes{
        padding-left:12px
    }


 .minicart .card .item-info .line-item-name,
 .minicart .card .product-info-attributes .line-item-name{
     font-size:12px;
     line-height:16px;
     color:#000;
     margin-bottom:0;
     overflow:hidden;
     white-space:nowrap;
     text-overflow: ellipsis !important;
    width:90%;
    }
 .card .product-line-item-details,
 .minicart .card .product-line-item-details{
     overflow:hidden
    }
 .card .product-image,
 .minicart .card .product-image{
     max-width:80px
 }

 .minicart .card .line-item-promo{
     color:#15154d
    }

 
 

